<div class="text-center">
    <h1>First Page</h1>
    <p class="display-4">Welcome Huzaifa Bhai with time =@DateTime.Now</p>
    <p>Learn web with <a href="https:huzaifa.com"> professor HUZAIFA</a>.</p>
</div>