@using MVC_letcures.Models
@model Student

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Form</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<style>

    .container
    {
        background-color: #F5F5DC; /* Light yellow background */
        width: 25%; /* Set the width of the form */
        margin: 50px auto; /* Center the form horizontally and add some top margin */
        padding: 20px; /* Add some padding inside the form */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    }

</style>

<body>
    <h1>Add a Student</h1>
    <div class="container">
        <div>
        <form method="post" action="/Student/StudentForm">
        <!--Yahan method usuually submit k liye post hi use hota or
         >>action ye btata k app ko information jo user client end pr browser mai form pr enter kre ga wo kahan store karni hai
         >>Or neeche jo input k tag mai name= "?" yahan jo bhi likho ge wahi app k studentController k
         mai jis function mai app ye recive kre ge us k parameters k name bhi yahi hone chahiye otherwise error
        -->
        <!--Using Tag Helpers it ease us in maintaining HTML and helps in this cause and automatically generate 
            HTML when it reaches the client end Basically taghelpers are server side code
        -->
        <div asp-validation-summary="ModelOnly"></div>  <!--"ALL" Iss tag se saare error shuru mai show ho ge
                                                             "ModelOnly" se sirf generic msg show ho ga   
        -->
        <div>
        <label asp-for="Name"></label><br>
        <input asp-for="Name"><br>
        <span asp-validation-for="Name"></span>  <!--Iss se us field k ander show ho ga msg-->
                </div>
                <div>
        <label asp-for="Rollno"></label><br>
        <input asp-for="Rollno"><br>
        <span asp-validation-for="Rollno"></span>  <!--Iss se us field k ander show ho ga msg-->
                </div>
                <div>
        <label asp-for="Age"></label><br>
        <input asp-for="Age"><br>
        <span asp-validation-for="Age"></span>  <!--Iss se us field k ander show ho ga msg-->
                </div>
                <div>
        <label asp-for="CGPA"></label><br />
        <input asp-for="CGPA" /><br />
        <span asp-validation-for="CGPA"></span>  <!--Iss se us field k ander show ho ga msg-->
                </div>
                @* <p><span>
            <style>
            p{
                color:red;
                             }
                             </style>
                             </span>@Model</p> *@

         <input type="submit" value="Save Student">
            </form>
        </div>
    </div>

    

</body>
</html>